$primaryClr:#5a58b9;
$errorClr: #d32f2f;
$textClr:#3C3C3C;


body {
  // regular
  // -----------------------------------------------
  --el-text-color-regular: #3C3C3C;
  --el-border-color: #d2d2d2;
  --el-text-color-primary: #3C3C3C;

  // primary
  // -----------------------------------------------
  --el-color-primary: #5a58b9;
  --el-color-primary-light-3: #7371c4;
  --el-color-primary-light-5: #8c8ace;
  --el-color-primary-light-7: #adacdc;
  --el-color-primary-light-8: #cecdea;
  --el-color-primary-light-9: #ebebf7;
  --el-color-primary-dark-2: #5250B2;

}
